<article>
  <img [src]="housingLocation?.photo" [alt]="housingLocation?.name">
  <section class="listing-features">
    <h2 class="listing-heading">{{ housingLocation?.name }}</h2>
    <p class="listing-location">{{ housingLocation?.city }}, {{ housingLocation?.state }}</p>
  </section>
  <section class="listing-features">
    <h2 class="section-heading">About this location</h2>
    <ul>
      <li>Units available: {{ housingLocation?.availableUnits }}</li>
      <li>Does this location have wifi: {{ housingLocation?.wifi }}</li>
      <li>Does this location have laundry: {{ housingLocation?.laundry }}</li>
    </ul>
  </section>
  <section class="listing-apply">
    <h2 class="section-heading">Apply now live to here</h2>
    <form [formGroup]="applyForm" (submit)="submitApplication()">
      <label for="first-name">First name</label>
      <input type="text" id="first-name" formControlName="firstName" required>
      <label for="last-name">Last name</label>
      <input type="text" id="last-name" formControlName="lastName" required>
      <label for="email">First name</label>
      <input type="email" id="email" formControlName="email" required>
      <button type="submit" class="primary">Submit</button>
    </form>
  </section>
</article>
